/* Estilos para o footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-logo h1 {
  font-size: 24px;
}

.footer-links ul {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
}

/* Estilos para ícones de redes sociais (font-awesome) */
.fab {
  font-size: 24px;
}
