header {
  text-align: center;
  background-color: black;
  color: white;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 0.3rem;
  position: fixed;
}

div h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

div div {
  font-size: large;
  /* width: 50rem; */
  margin: 0.5rem;
  text-align: justify;
}

.botaoMenu {
  align-items: center;
  margin: 1rem 0 0;
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 4rem;
  height: 3rem;
  border-radius: 10%;
}
