aside{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: left;
    padding: 7.5rem 0 0;
}

aside a{
    display: block;
    text-align: start;
    text-decoration: none;
    color: white;
}

.invisivel{
    display: none;
}