* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
body {
  min-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  main {
    padding: 0 2rem;
  }
}
