* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

main {
  padding: 8rem 0 0;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
}
